@model ExpenseTracker.Web.ViewModels.Wallet.WalletViewModel

@{
    Layout = null;
}
<div class="grid-container">
    <div class="row content">
        <div class="col text-center">
            Name
        </div>
        <div class="col text-center">
            Is main
        </div>
    </div>
    <div class="row value">
        <div class="col text-center">
            <span> @Model.Name</span>
        </div>
        <div class="col text-center">
            <span>@Model.IsMain</span>
        </div>
    </div>
    <div class="row content">
        <div class="col text-center">
            Balance
        </div>
        <div class="col text-center">
            Description
        </div>
    </div>
    <div class="row comments">
        <div class="col text-center" style="border-right: 0.1px solid #444C54; height: 100%;">
            <span>@Model.Balance</span>
        </div>
        <div class="col text-center">
            <span id="detailsWalletsDescription"></span>
            <div id="commentsDisplay"></div>
        </div>
    </div>
</div>
<script>
    var note = @Html.Raw(Json.Serialize(Model.Description));

    if (note === null) {
        $("#detailsWalletsDescription").text('No comment');
    } else {
        $("#detailsWalletsDescription").text(note);
    }    
</script>

